<% require 'date'%>
<% provide(:title, 'All users') %>
<h1>予定表</h1>
<%= will_paginate %>
<table class="users", border=1 >
  <th> name </th>
  <% (Date.today..Date.today+7).each do |today| %>
  <th><%= today%> </th>
  <% end %>
  <%= render @users %>
</table>
<%= will_paginate %>
